<!DOCTYPE html>
<html>
  <head>
    <title>Websockets demo</title>
  </head>

  <body>
    <form id="input-form" class="form-inline">
      <div class="form-group">
        <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
      </div>
      <div class="form-group">
        <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
      </div>
      <button id="chat-button" class="btn btn-primary" type="submit" disabled>Send</button>
    </form>

    <div id="stream"></div>
    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script src="assets/js/application.js"></script>
  </body>
</html>
